name: Release NuGet

on:
  release:
    types:
      - published
  workflow_dispatch:


jobs:
  publish:
    name: Publish NuGet package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore src/Hume/Hume.csproj

      - name: Build with Release configuration
        run: dotnet build --configuration Release src/Hume/Hume.csproj

      - name: Pack with Release configuration
        run: dotnet pack --configuration Release --no-build src/Hume/Hume.csproj -o ./

      - name: Publish the package to NuGet
        run: dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

